.framework__code
  font-size 14px
  line-height normal
  padding 0
  white-space initial
  padding 15px 15px

@media (min-width: 1240px)
  .framework__code
    padding 15px 30px

.framework__pre
  overflow auto
  word-wrap normal
  white-space pre
  margin 15px -15px

@media (min-width: 1240px)
  .framework__pre
    margin 15px -30px

.framework__row_code
  white-space initial

.framework__container_code
  white-space initial

.framework__col_code
  white-space pre-line
