.header
  position fixed
  background rgba(255,255,255, .95)
  border-bottom 1px solid black
  z-index 100
  top 0
  width 100%
  z-index 500

.framework-logotype
  color #ddd
  margin 10px 0 8px 0
  font-size 24px

.framework-logotype__link
  text-decoration none
  color #000

.show-nav
  width 22px
  float left
  display block
  border none
  background none
  outline none
  padding 0
  margin 17px 0 0 0
  &:before
    margin 0

.show-nav__bar
  background #000
  height 3px
  width 100%
  margin 3px 0 3px
  border-radius 1px
  &:first-child
    margin 0 0 3px
  &:last-child
    margin 3px 0 0

.icon-menu
  padding 0
  line-height 1
  margin 10px 0 0 0
