header.header
  .container.show-container
    button.icon-menu.show-nav
    .framework__row
      .framework__col-xs-12.framework__col-md-6
        h1.framework-logotype
          a.framework-logotype__link(href= '#') Interjacent framework
      .framework__col-xs-12.framework__col-md-6
        | Current version v0.0.3
