.header
  position fixed
  background rgba(255,255,255, .95)
  border-bottom 1px solid black
  z-index 100
  top 0
  width 100%

.framework-logotype
  color #ddd
  margin 10px 0 8px 0
  font-size 24px

.framework-logotype__link
  text-decoration none
  color #000

.show-nav
  font-size 30px
  float left
  display block
  border none
  background none
  outline none
  &:before
    margin 0

.icon-menu
  padding 0
  line-height 1
  margin 10px 0 0 0
