header.header
  .container.show-container
    .framework__row
      .framework__col-xs-12
        h1.framework-logotype
          a.framework-logotype__link(href= '#') Interjacent framework
    .framework__row
      .framework__col-xs-12
        | Current version v0.0.3
    .framework__row
      .framework__col-xs-12
