/* Third party*/
@import '../blocks/code/stylesheets/railscasts.css'

path-to-sprite = 'img/sprites/icon-sprite.png'

/* Components */
@import '../bower_components/interjacent/stylesheets/interjacent'

/* Own */
@import '../blocks/website-pages/grid'
@import '../blocks/header/header'
@import '../blocks/code/stylesheets/code'
@import '../blocks/show-components/show-components'
@import '../blocks/main-nav/main-nav'
@import '../blocks/footer/footer'
@import '../blocks/headings/headings'
