.framework__row
  .framework__col-xs-12
    h2
      a#nav-forms(href= '#nav-forms') Forms
include /pages/forms/sizes
.framework__row
  .framework__col-xs-12
    p Form can has the following elements:
include /pages/forms/tab-buttons
include /pages/forms/inputs
include /pages/forms/selects
include /pages/forms/labels
