.framework__row
  .framework__col-xs-12
    h3 Inputs

.framework__row
  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

    h4 Default

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.array = [ '' ]

    include /bower_components/interjacent/blocks/forms/_inputs/inputs


    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.array = [ 'Input filled' ]

    include /bower_components/interjacent/blocks/forms/_inputs/inputs

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.array = [ 'Input dynamically added' ]
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.added = true

    include /bower_components/interjacent/blocks/forms/_inputs/inputs

  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

    h4 In case of error

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.fieldClass = 'input-type-text_error'
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.array = [ '' ]

    include /bower_components/interjacent/blocks/forms/_inputs/inputs

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.fieldClass = 'input-type-text_error'
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.array = [ 'Input filled' ]

    include /bower_components/interjacent/blocks/forms/_inputs/inputs

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.array = [ 'Input dynamically added' ]
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.fieldClass = 'input-type-text_error'
      - inputs.added = true

    include /bower_components/interjacent/blocks/forms/_inputs/inputs


  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

    h4 Disabled

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.disabled = true
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.array = [ '' ]

    include /bower_components/interjacent/blocks/forms/_inputs/inputs

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.disabled = true
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.array = [ 'Input filled' ]

    include /bower_components/interjacent/blocks/forms/_inputs/inputs

    - inputs = {}
      - inputs.placeholder = 'Placeholder'
      - inputs.array = [ 'Input dynamically added' ]
      - inputs.fieldWrapperClass = 'forms__input-list'
      - inputs.fieldClass = 'input-type-text_error'
      - inputs.added = true
      - inputs.disabled = true

    include /bower_components/interjacent/blocks/forms/_inputs/inputs


pre.framework__pre
  code.html.framework__code
    .framework__row_code
      .framework__col_code.
        &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography"&gt;
        &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography input-type-text_error"&gt;
        &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography" disabled&gt;

        &lt;!-- Added --&gt;
        &lt;input type="text" placeholder="Placeholder" value="Input dynamically added" class="input-type-text forms__input-typography"&gt;
        &lt;button type="button" class="forms__input_remove"&gt;&lt;/button&gt;
