.framework__row
  .framework__col-xs-12
    h3 label
.framework__row
  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3
    - var forms = {}
    - forms.elements = []
      - forms.elements[0] = {}
        - forms.elements[0].cssClass = 'special'
        - forms.elements[0].children = []

          - line = {}

            - label = {}
              - label.value = 'Comment'
            - line.label = label

            - line.items = []
              - input = {}
                - input.field = 'input'
                - input.placeholder = 'Type something'
                - input.grid = 'forms-col-24'
                - input.array = [ '' ]
              - line.items[0] = input

          - forms.elements[0].children[0] = line


          - line = {}

            - label = {}
              - label.value = 'Full name'
              - label.required = true
            - line.label = label

            - line.items = []
              - input = {}
                - input.field = 'input'
                - input.grid = 'forms-col-24'
                - input.array = [ '' ]
              - line.items[0] = input

          - forms.elements[0].children[1] = line


          - line = {}

            - label = {}
              - label.value = 'Full name'
              - label.required = true
              - label.filled = true
            - line.label = label

            - line.items = []
              - input = {}
                - input.field = 'input'
                //- - input.test = true
                - input.grid = 'forms-col-24'
                - input.array = [ 'Jacob Smith' ]
              - line.items[0] = input

          - forms.elements[0].children[2] = line

    include /bower_components/interjacent/blocks/forms/forms

pre.framework__pre
  code.html.framework__code
    .framework__row_code
      .framework__col_code.
        &lt;!-- Default --&gt;
        &lt;label class="forms__label forms__label-typography"&gt;
          Comment
        &lt;/label&gt;

        &lt;!-- Required --&gt;
        &lt;label class="forms__label forms__label-typography"&gt;
          Full name
          &lt;span class="forms__label-required forms__label-required_error"&gt;*&lt;/span&gt;
        &lt;/label&gt;

        &lt;!-- Required filled --&gt;
        &lt;label class="forms__label forms__label-typography"&gt;
          Full name
          &lt;span class="forms__label-required"&gt;*&lt;/span&gt;
        &lt;/label&gt;
