.framework__row
  .framework__col-xs-12

    h3 Select

.framework__row
  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

    h4 Default

    - select = {}
      - select.placeholder = 'choose from the list'
      - select.fieldWrapperClass = 'forms__input-list'
      - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

    include /bower_components/interjacent/blocks/forms/_select/select

    - select = {}
      - select.placeholder = 'choose from the list'
      - select.chosen = 0
      - select.fieldWrapperClass = 'forms__input-list'
      - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

    include /bower_components/interjacent/blocks/forms/_select/select


  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

    h4 In case of error

    - select = {}
      - select.placeholder = 'choose from the list'
      - select.fieldWrapperClass = 'forms__input-list'
      - select.fieldClass = 'select_error'
      - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

    include /bower_components/interjacent/blocks/forms/_select/select

    - select = {}
      - select.placeholder = 'choose from the list'
      - select.fieldWrapperClass = 'forms__input-list'
      - select.chosen = 1
      - select.fieldClass = 'select_error'
      - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

    include /bower_components/interjacent/blocks/forms/_select/select


  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

    h4 Disabled

    - select = {}
      - select.placeholder = 'choose from the list'
      - select.fieldWrapperClass = 'forms__input-list'
      - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

    include /bower_components/interjacent/blocks/forms/_select/select

    - select = {}
      - select.placeholder = 'choose from the list'
      - select.fieldWrapperClass = 'forms__input-list'
      - select.chosen = 2
      - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

    include /bower_components/interjacent/blocks/forms/_select/select


pre.framework__pre
  code.html.framework__code
    .framework__row_code
      .framework__col_code.
        &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography"&gt;
        &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography input-type-text_error"&gt;
        &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography" disabled&gt;

        &lt;!-- Added --&gt;
        &lt;input type="text" placeholder="Placeholder" value="Input dynamically added" class="input-type-text forms__input-typography"&gt;
        &lt;button type="button" class="forms__input_remove"&gt;&lt;/button&gt;
