.framework__row
  .framework__col-xs-12
    h3 Sizes for forms
    p
      | special for forms we are using
      b  forms-label
      |  grid
    .row.show-grid__row
      .col-alt-11.colorful-cube
        .forms-label-row
          .forms-label-col-6
            .show-grid__cube for-label - 6 cells
          .forms-label-col-10
            .show-grid__cube for inputs - 10 cells
