.framework__row
  .framework__col-xs-12
    h3 Tab buttons
    p Can have two statements - default or active

    - tabButtons = []
      - tabButtons.chosen = 0
      - tabButtons.array = [ 'Active tab button', 'Tab button' ]
    include /bower_components/interjacent/blocks/forms/_tab-buttons/tab-buttons
pre.framework__pre
  code.html.framework__code
    .framework__row_code
      .framework__col_code.
        &lt;a href="#" class="tab-buttons__item tab-buttons__item_active"&gt;Active tab button&lt;/a&gt;
        &lt;a href="#" class="tab-buttons__item"&gt;Tab button&lt;/a&gt;

        a.tab-buttons__item.tab-buttons__item_active(href='#') Active tab button
        a.tab-buttons__item(href='#') Tab button
