doctype html
html(ng-app= 'dellin')
	head
		include /includes/head

	body
		header
			.framework__container
				.framework__row
					.framework__col-xs-12
						h1.framework-logotype
							a.framework-logotype__link(href= '#') Interjacent Framework

		block content


		footer
			include /blocks/footer
