doctype html
html(lang= 'en')
  head
    include /includes/head

  body.framework__body
    aside.framework__aside
      include /blocks/main-nav/main-nav
    .framework__main-and-header-wrapper
      include /blocks/header/header

      main.framework__main
        .container.show-container
          block content

      footer.framework__footer
        include /blocks/footer/footer
