doctype html
html(lang= 'en')
  head
    include /includes/head

  body.framework__body
    aside.framework__aside
      include /blocks/main-nav/main-nav
    main.framework__main
      include /blocks/header/header

      .container.show-container
        block content

      footer.framework__footer
        include /blocks/footer/footer
