doctype html
html
	head
		include /includes/head

	body
		header
			.framework__container
				.framework__row
					.framework__col-xs-12
						h1.framework-logotype
							a.framework-logotype__link(href= '#') Interjacent framework

		block content


		footer.footer
			include /blocks/footer/footer
