.framework__row
  .framework__col-xs-12
    h2.heading-2
      a.heading-2__link#nav-buttons(href= '#nav-buttons') Buttons

.framework__row
  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
    - var buttons = []
      - buttons[0] = {}
        - buttons[0].value = 'Button'
        - buttons[0].cssClass = 'show-buttons'
    include /bower_components/interjacent/blocks/buttons/buttons

  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
    - var buttons = []
      - buttons[0] = {}
        - buttons[0].value = 'Default button'
        - buttons[0].cssClass = 'button_default show-buttons'
    include /bower_components/interjacent/blocks/buttons/buttons

  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
    - var buttons = []
      - buttons[0] = {}
        - buttons[0].value = 'Primary button'
        - buttons[0].cssClass = 'button_primary show-buttons'
    include /bower_components/interjacent/blocks/buttons/buttons

  .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
    - var buttons = []
      - buttons[0] = {}
        - buttons[0].value = 'Disabled button'
        - buttons[0].cssClass = 'button_default show-buttons'
        - buttons[0].disabled = true
    include /bower_components/interjacent/blocks/buttons/buttons

pre.framework__pre
  code.html.framework__code
    .framework__row_code
      .framework__col_code.
        &lt;button type="submit" class="button button_typography"&gt;Button&lt;/button&gt;
        &lt;button type="submit" class="button button_typography button_default"&gt;Default button&lt;/button&gt;
        &lt;button type="submit" class="button button_typography button_primary"&gt;Primary button&lt;/button&gt;
        &lt;button type="submit" class="button button_typography button_default" disabled&gt;Disabled button&lt;/button&gt;
