.framework__row
  .framework__col-xs-12
    h2.heading-2
      a.heading-2__link#nav-grids(href= '#nav-grids') Grids
  .framework__col-xs-12
    h3 col-md grid
    .row.show-grid__row
      .col-md-6
        .show-grid__cube 6
      .col-md-6
        .show-grid__cube 6
    .row.show-grid__row
      .col-md-7
        .show-grid__cube 7
      .col-md-5
        .show-grid__cube 5
    .row.show-grid__row
      .col-md-8
        .show-grid__cube 8
      .col-md-4
        .show-grid__cube 4
    .row.show-grid__row
      .col-md-9
        .show-grid__cube 9
      .col-md-3
        .show-grid__cube 3
    .row.show-grid__row
      .col-md-10
        .show-grid__cube 10
      .col-md-2
        .show-grid__cube 2
    .row.show-grid__row
      .col-md-11
        .show-grid__cube 11
      .col-md-1
        .show-grid__cube 1
    .row.show-grid__row
      .col-md-12
        .show-grid__cube 12
    h3 col-alt grid
    .row.show-grid__row
      .col-alt-1
        .show-grid__cube 1
      .col-alt-15
        .show-grid__cube 15
    .row.show-grid__row
      .col-alt-2
        .show-grid__cube 2
      .col-alt-14
        .show-grid__cube 14
    .row.show-grid__row
      .col-alt-3
        .show-grid__cube 3
      .col-alt-13
        .show-grid__cube 13
    .row.show-grid__row
      .col-alt-4
        .show-grid__cube 4
      .col-alt-12
        .show-grid__cube 12
    .row.show-grid__row
      .col-alt-5
        .show-grid__cube 5
      .col-alt-11
        .show-grid__cube 11
    .row.show-grid__row
      .col-alt-6
        .show-grid__cube 6
      .col-alt-10
        .show-grid__cube 10
    .row.show-grid__row
      .col-alt-7
        .show-grid__cube 7
      .col-alt-9
        .show-grid__cube 9
    .row.show-grid__row
      .col-alt-8
        .show-grid__cube 8
      .col-alt-8
        .show-grid__cube 8
