.framework__row
  .framework__col-xs-12
    h2 Grids
  .framework__col-xs-12
    h3 col-md grid
    .row
      .col-md-1.colorful-cube
        p.colorful-cube__text .col-md-1
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
    .row
      .col-md-2.colorful-cube
        p.colorful-cube__text .col-md-2
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
    .row
      .col-md-3.colorful-cube
        p.colorful-cube__text .col-md-3
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
      .col-md-1.colorful-cube
    h3 col-alt-grid
    .row
      .col-alt-1.colorful-cube
        p.colorful-cube__text .col-alt-1
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
    .row
      .col-alt-2.colorful-cube
        p.colorful-cube__text .col-alt-2
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
    .row
      .col-alt-3.colorful-cube
        p.colorful-cube__text .col-alt-3
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
      .col-alt-1.colorful-cube
