.framework__row
  .framework__col-xs-12
    h2 Grids
  .framework__col-xs-12
    h3 col-md grid
    .row.show-grid__row
      .col-md-6.colorful-cube
        .colorful-cube_content 6
      .col-md-6.colorful-cube
        .colorful-cube_content 6
    .row.show-grid__row
      .col-md-7.colorful-cube
        .colorful-cube_content 7
      .col-md-5.colorful-cube
        .colorful-cube_content 5
    .row.show-grid__row
      .col-md-8.colorful-cube
        .colorful-cube_content 8
      .col-md-4.colorful-cube
        .colorful-cube_content 4
    .row.show-grid__row
      .col-md-9.colorful-cube
        .colorful-cube_content 9
      .col-md-3.colorful-cube
        .colorful-cube_content 3
    .row.show-grid__row
      .col-md-10.colorful-cube
        .colorful-cube_content 10
      .col-md-2.colorful-cube
        .colorful-cube_content 2
    .row.show-grid__row
      .col-md-11.colorful-cube
        .colorful-cube_content 11
      .col-md-1.colorful-cube
        .colorful-cube_content 1
    .row.show-grid__row
      .col-md-12.colorful-cube
        .colorful-cube_content 12
    h3 col-alt-grid
    .row.show-grid__row
      .col-alt-1.colorful-cube
        .colorful-cube_content 1
      .col-alt-15.colorful-cube
        .colorful-cube_content 15
    .row.show-grid__row
      .col-alt-2.colorful-cube
        .colorful-cube_content 2
      .col-alt-14.colorful-cube
        .colorful-cube_content 14
    .row.show-grid__row
      .col-alt-3.colorful-cube
        .colorful-cube_content 3
      .col-alt-13.colorful-cube
        .colorful-cube_content 13
    .row.show-grid__row
      .col-alt-4.colorful-cube
        .colorful-cube_content 4
      .col-alt-12.colorful-cube
        .colorful-cube_content 12
    .row.show-grid__row
      .col-alt-5.colorful-cube
        .colorful-cube_content 5
      .col-alt-11.colorful-cube
        .colorful-cube_content 11
    .row.show-grid__row
      .col-alt-6.colorful-cube
        .colorful-cube_content 6
      .col-alt-10.colorful-cube
        .colorful-cube_content 10
    .row.show-grid__row
      .col-alt-7.colorful-cube
        .colorful-cube_content 7
      .col-alt-9.colorful-cube
        .colorful-cube_content 9
    .row.show-grid__row
      .col-alt-8.colorful-cube
        .colorful-cube_content 8
      .col-alt-8.colorful-cube
        .colorful-cube_content 8
