.header-wrapper
  .container
    .header-row
      .header-col-25
        a.header__logotype(href= '#')
          i.icon.icon-main-logotype
      .header-col-20
        .header__city Набережные челны
        .address-of-terminals Адреса терминалов
      .header-col-15
        .header__phone 8-800-100-8000
        nav.header__nav.header-nav
          a.header-nav__item(href= '#') Форма связи
          a.header-nav__item(href= '#') Центр помощи
  .header__bottom
    .container
      include /bower_components/interjacent/blocks/top-menu/top-menu
