.framework__row
  .framework__col-xs-12
    h2.heading-2
      a.heading-2__link#nav-icons(href= '#nav-icons') Icons
  .framework__col-xs-12
    i.icon.icon-close
    i.icon.icon-ok_rounded
    i.icon.icon-ok
    i.icon.icon-assistant
    i.icon.icon-attach
    i.icon.icon-attached
    i.icon.icon-bubble
    i.icon.icon-chevron-right_large
    i.icon.icon-exclamation-mark
    i.icon.icon-exclamation-mark_with-border
    i.icon.icon-7z
    i.icon.icon-blank
    i.icon.icon-bmp
    i.icon.icon-doc
    i.icon.icon-docx
    i.icon.icon-jpg
    i.icon.icon-pdf
    i.icon.icon-txt
    i.icon.icon-xls
    i.icon.icon-xlsx
    i.icon.icon-zip
    i.icon.icon-headset
    i.icon.icon-hourglass
    i.icon.icon-info
    i.icon.icon-label
    i.icon.icon-lifebuoy
    i.icon.icon-lock
    i.icon.icon-mail
    i.icon.icon-main-logotype
    i.icon.icon-mark
    i.icon.icon-mark_filled
    i.icon.icon-message
    i.icon.icon-message_white
    i.icon.icon-no_rounded
    i.icon.icon-ok
    i.icon.icon-ok_rounded
    i.icon.icon-ok_with-border
    i.icon.icon-play
    i.icon.icon-remove
    i.icon.icon-repeat
    i.icon.icon-ruble
    i.icon.icon-time
