extends /layouts/default


block content
  .framework__row
    .framework__col-xs-12
      p Current version v0.0.3
  include /pages/buttons
  include /pages/forms/index
  include /pages/icons
  include /pages/grids
  include /pages/popups/index
  include /pages/sizes
