extends /layouts/default


block content

  .framework__container
    .framework__row
      .framework__col-xs-12
        | Current version v0.0.2

    .framework__row
      .framework__col-xs-12
        h2 Buttons

    .framework__row
      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
        - var buttons = []
          - buttons[0] = {}
            - buttons[0].value = 'Button'
        include /bower_components/interjacent/blocks/buttons/buttons

      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
        - var buttons = []
          - buttons[0] = {}
            - buttons[0].value = 'Default button'
            - buttons[0].cssClass = 'block-button_default'
        include /bower_components/interjacent/blocks/buttons/buttons

      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
        - var buttons = []
          - buttons[0] = {}
            - buttons[0].value = 'Primary button'
            - buttons[0].cssClass = 'block-button_primary'
        include /bower_components/interjacent/blocks/buttons/buttons

      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-3
        - var buttons = []
          - buttons[0] = {}
            - buttons[0].value = 'Disabled button'
            - buttons[0].cssClass = 'block-button_default'
            - buttons[0].disabled = true
        include /bower_components/interjacent/blocks/buttons/buttons

    pre.framework__pre
      code.html.framework__code
        .framework__row_code
          .framework__col_code.
            &lt;button type="submit" class="block-button block-button_typography"&gt;Button&lt;/button&gt;
            &lt;button type="submit" class="block-button block-button_typography block-button_default"&gt;Default button&lt;/button&gt;
            &lt;button type="submit" class="block-button block-button_typography block-button_primary"&gt;Primary button&lt;/button&gt;
            &lt;button type="submit" class="block-button block-button_typography block-button_default" disabled&gt;Disabled button&lt;/button&gt;
    .framework__row
      .framework__col-xs-12
        h2 Forms
        p Form can has the following elements:
        h3 Tab buttons
        p Can have two statements - default or active

        - tabButtons = []
          - tabButtons.chosen = 0
          - tabButtons.array = [ 'Active tab button', 'Tab button' ]
        include /bower_components/interjacent/blocks/forms/_tab-buttons/tab-buttons

    pre.framework__pre
      code.html.framework__code
        .framework__row_code
          .framework__col_code.
            &lt;a href="#" class="tab-buttons__item tab-buttons__item_active"&gt;Active tab button&lt;/a&gt;
            &lt;a href="#" class="tab-buttons__item"&gt;Tab button&lt;/a&gt;
    .framework__row
      .framework__col-xs-12
        h3 Inputs

    .framework__row
      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

        h4 Default

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.array = [ '' ]

        include /bower_components/interjacent/blocks/forms/_inputs/inputs


        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.array = [ 'Input filled' ]

        include /bower_components/interjacent/blocks/forms/_inputs/inputs

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.array = [ 'Input dynamically added' ]
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.added = true

        include /bower_components/interjacent/blocks/forms/_inputs/inputs

      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

        h4 In case of error

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.fieldClass = 'input-type-text_error'
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.array = [ '' ]

        include /bower_components/interjacent/blocks/forms/_inputs/inputs

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.fieldClass = 'input-type-text_error'
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.array = [ 'Input filled' ]

        include /bower_components/interjacent/blocks/forms/_inputs/inputs

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.array = [ 'Input dynamically added' ]
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.fieldClass = 'input-type-text_error'
          - inputs.added = true

        include /bower_components/interjacent/blocks/forms/_inputs/inputs


      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

        h4 Disabled

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.disabled = true
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.array = [ '' ]

        include /bower_components/interjacent/blocks/forms/_inputs/inputs

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.disabled = true
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.array = [ 'Input filled' ]

        include /bower_components/interjacent/blocks/forms/_inputs/inputs

        - inputs = {}
          - inputs.placeholder = 'Placeholder'
          - inputs.array = [ 'Input dynamically added' ]
          - inputs.fieldWrapperClass = 'forms__input-list'
          - inputs.fieldClass = 'input-type-text_error'
          - inputs.added = true
          - inputs.disabled = true

        include /bower_components/interjacent/blocks/forms/_inputs/inputs


    pre.framework__pre
      code.html.framework__code
        .framework__row_code
          .framework__col_code.
            &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography"&gt;
            &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography input-type-text_error"&gt;
            &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography" disabled&gt;

            &lt;!-- Added --&gt;
            &lt;input type="text" placeholder="Placeholder" value="Input dynamically added" class="input-type-text forms__input-typography"&gt;
            &lt;button type="button" class="forms__input_remove"&gt;&lt;/button&gt;
    .framework__row
      .framework__col-xs-12

        h3 Select

    .framework__row
      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

        h4 Default

        - select = {}
          - select.placeholder = 'choose from the list'
          - select.fieldWrapperClass = 'forms__input-list'
          - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

        include /bower_components/interjacent/blocks/forms/_select/select

        - select = {}
          - select.placeholder = 'choose from the list'
          - select.chosen = 0
          - select.fieldWrapperClass = 'forms__input-list'
          - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

        include /bower_components/interjacent/blocks/forms/_select/select


      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

        h4 In case of error

        - select = {}
          - select.placeholder = 'choose from the list'
          - select.fieldWrapperClass = 'forms__input-list'
          - select.fieldClass = 'select_error'
          - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

        include /bower_components/interjacent/blocks/forms/_select/select

        - select = {}
          - select.placeholder = 'choose from the list'
          - select.fieldWrapperClass = 'forms__input-list'
          - select.chosen = 1
          - select.fieldClass = 'select_error'
          - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

        include /bower_components/interjacent/blocks/forms/_select/select


      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3

        h4 Disabled

        - select = {}
          - select.placeholder = 'choose from the list'
          - select.fieldWrapperClass = 'forms__input-list'
          - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

        include /bower_components/interjacent/blocks/forms/_select/select

        - select = {}
          - select.placeholder = 'choose from the list'
          - select.fieldWrapperClass = 'forms__input-list'
          - select.chosen = 2
          - select.array = [ 'First', 'Second', 'Very long text, displayed in one line. If you will calculate the amount of letters' ]

        include /bower_components/interjacent/blocks/forms/_select/select


    pre.framework__pre
      code.html.framework__code
        .framework__row_code
          .framework__col_code.
            &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography"&gt;
            &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography input-type-text_error"&gt;
            &lt;input type="text" placeholder="Placeholder" value="" class="input-type-text forms__input-typography" disabled&gt;

            &lt;!-- Added --&gt;
            &lt;input type="text" placeholder="Placeholder" value="Input dynamically added" class="input-type-text forms__input-typography"&gt;
            &lt;button type="button" class="forms__input_remove"&gt;&lt;/button&gt;
    .framework__row
      .framework__col-xs-12
        h3 label
    .framework__row
      .framework__col-xs-12.framework__col-xs_landscape-6.framework__col-md-4.framework__col-lg-3
        - var forms = {}
        - forms.elements = []
          - forms.elements[0] = {}
            - forms.elements[0].cssClass = 'special'
            - forms.elements[0].children = []

              - line = {}

                - label = {}
                  - label.value = 'Comment'
                - line.label = label

                - line.items = []
                  - input = {}
                    - input.field = 'input'
                    - input.placeholder = 'Type something'
                    - input.grid = 'forms-col-24'
                    - input.array = [ '' ]
                  - line.items[0] = input

              - forms.elements[0].children[0] = line


              - line = {}

                - label = {}
                  - label.value = 'Full name'
                  - label.required = true
                - line.label = label

                - line.items = []
                  - input = {}
                    - input.field = 'input'
                    - input.grid = 'forms-col-24'
                    - input.array = [ '' ]
                  - line.items[0] = input

              - forms.elements[0].children[1] = line


              - line = {}

                - label = {}
                  - label.value = 'Full name'
                  - label.required = true
                  - label.filled = true
                - line.label = label

                - line.items = []
                  - input = {}
                    - input.field = 'input'
                    //- - input.test = true
                    - input.grid = 'forms-col-24'
                    - input.array = [ 'Jacob Smith' ]
                  - line.items[0] = input

              - forms.elements[0].children[2] = line

        include /bower_components/interjacent/blocks/forms/forms

    pre.framework__pre
      code.html.framework__code
        .framework__row_code
          .framework__col_code.
            &lt;!-- Default --&gt;
            &lt;label class="forms__label forms__label-typography"&gt;
              Comment
            &lt;/label&gt;

            &lt;!-- Required --&gt;
            &lt;label class="forms__label forms__label-typography"&gt;
              Full name
              &lt;span class="forms__label-required forms__label-required_error"&gt;*&lt;/span&gt;
            &lt;/label&gt;

            &lt;!-- Required filled --&gt;
            &lt;label class="forms__label forms__label-typography"&gt;
              Full name
              &lt;span class="forms__label-required"&gt;*&lt;/span&gt;
            &lt;/label&gt;
    .framework__row
      .framework__col-xs-12
        h2 Available icons
      .framework__col-xs-12
        i.icon.icon-close
        i.icon.icon-ok_rounded
        i.icon.icon-ok
