.framework__row
  .framework__col-xs-12
    h2 Sizes
  .framework__col-xs-12
    p sizes
    p Size for sidebar
  .framework__col-xs-12
    .row.show-grid__row
      .col-alt-11.colorful-cube
        .show-grid__cube main - .col-alt-11
      .col-alt-5.colorful-cube
        .show-grid__cube aside - .col-alt-5
