.framework__row
  .framework__col-xs-12
    h2 Sizes
  .framework__col-xs-12
    p sizes
    p Size for sidebar
  .framework__col-xs-12
    .row.show-grid__row
      .col-alt-11.colorful-cube
        .show-grid__cube main - .col-alt-11
      .col-alt-5.colorful-cube
        .show-grid__cube aside - .col-alt-5
  .framework__col-xs-12
    p Size for forms
    .row.show-grid__row
      .col-alt-11.colorful-cube
        .forms-label-row
          .forms-label-col-6
            .show-grid__cube for-label - 6
          .forms-label-col-10
            .show-grid__cube for inputs - 10
