.colorful-cube
  min-height 50px
  display table-cell
  vertical-align center
  &:nth-child(odd)
    background #00abff
  &:nth-child(even)
    background #33bcff
  &:hover
    opacity .9

.colorful-cube__text
  margin 7px 0
  text-align center
  vertical-align center
