.framework__row
  .framework__col-xs-12
    h2.heading-2
      a.heading-2__link#nav-popups(href= '#nav-popups') Popups
include /pages/popups/sizes
.framework__row
  .framework__col-xs-12
    p Popup criterias:
//- include /pages/popups/tab-buttons
//- include /pages/popups/inputs
//- include /pages/popups/selects
//- include /pages/popups/labels
