//- h4 Default popup
.popup.popup_default.popup_opened.show-popup
  h3.popup__heading.popup__heading_large Change address
  button.button-reset.popup__close ×
  p Content
//- h4 Popup with form
.popup.popup_default.popup_opened.show-popup
  h3.popup__heading.popup__heading_large Change address
  button.button-reset.popup__close ×
  p.popup__text Scan and attach your documents
  form.forms
    .form-block
      .form-line
        .row
          .col-md-4
            label.forms__label.forms__label-typography
              | Filled blank
              span.forms__label-required *
          .col-md-8
            .forms-row
              .forms-col-24
                .forms__link-wrapper
                  a.forms__link.forms__link_dotted(href='#') Attach scan copy
                p.forms__hint.forms__hint-typography
                  span You can use followings formst: png, jpg, pdf, doc/docx/odt (untill 3 Mb).
    .forms__button.forms__button_no-indents
      button.button.button_typography.button_default.button_with-siblings(type='submit') Cancel
      button.button.button_typography.button_primary.button_with-siblings(type='submit') Send request
//- h4 Popup with button
.popup.popup_default.popup_opened.show-popup
  h3.popup__heading.popup__heading_large Change something
  button.button-reset.popup__close ×
  p.popup__text Scan and attach your documents
  p.popup__text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
  form.forms
    .forms__button.forms__button_no-indents
      button.button.button_typography.button_default.button_with-siblings(type='submit') Cancel
